/*

!.gitignore
!.config
.config/*
!.config/alacritty/alacritty.toml
!.config/alacritty/dracula.toml
!.config/alacritty/midnight_haze.toml
!.config/alacritty/palenight.toml
!.config/alacritty/synthwave_84.toml
!.config/bat/
!.config/btop/
!.config/espanso/
!.config/fastfetch/.editorconfig
!.config/fastfetch/.config.jsonc
!.config/fish/
!.config/joshuto/
!.config/kitty/
!.config/mommy/
!.config/neofetch/
!.config/nvim/
!.config/pacseek/
!.config/pipes-rs/
!.config/qalculate/
!.config/ranger/
!.config/redshift/
!.config/tmux/
!.config/wezterm/
!.config/zellij/
!.config/starship.toml

# !.fonts/
# .fonts/.uuid
# !.fonts.zip

!.local
.local/*
!.local/share
.local/share/*
!.local/share/kxmlgui5/
!.local/share/konsole/
!.local/share/icons/
!.local/share/plasma/
.local/share/plasma/*
!.local/share/plasma/desktoptheme/

!useful_files/

