/*

!.gitignore
!.config
.config/*
!.config/alacritty
.config/alacritty/*
!.config/alacritty/alacritty.toml
!.config/alacritty/dracula.toml
!.config/alacritty/midnight_haze.toml
!.config/alacritty/palenight.toml
!.config/alacritty/synthwave_84.toml
!.config/bat/
!.config/btop/
!.config/espanso/
!.config/fastfetch
.config/fastfetch/*
!.config/fastfetch/.editorconfig
!.config/fastfetch/config.jsonc
!.config/fish/
!.config/joshuto/
!.config/kitty/
!.config/mommy/
!.config/neofetch/
!.config/nvim/
!.config/pacseek/
!.config/pipes-rs/
!.config/qalculate/
!.config/ranger/
!.config/redshift/
!.config/tmux/
!.config/wezterm/
!.config/zellij/

!.config/breezerc
!.config/dolphinrc
!.config/hyfetch.json
!.config/okularrc
!.config/user-dirs.dirs
!.config/starship.toml

!.fonts
.fonts/*
!.fonts/Varela**
!.fonts/Iosevka**
# .fonts/.uuid
# !.fonts.zip

!.local
.local/*
!.local/share
.local/share/*
!.local/share/kxmlgui5/
!.local/share/konsole/
!.local/share/icons/
.local/share/icons/*
!.local/share/icons/BeautyLine
!.local/share/icons/BeautySolar
!.local/share/icons/candy-icons
!.local/share/plasma/
!.local/share/qalculate/
.local/share/plasma/*
!.local/share/plasma/desktoptheme/

!useful_files/
useful_files/github-recovery-codes.txt
useful_files/steam-recovery-code.txt

